<div class="row" *ngIf= "selectedShop">
    <div class="col-md-12">
        <div class="card bg-light text-dark"  >
            <div class="card-body">
              <h5 class="card-title">{{selectedShop.name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted   ">Location: {{selectedShop.location}}</h6>
              <p class="card-text">{{selectedShop.description}}</p>
              <p class="font-weight-bold">Opening Date: {{selectedShop.openingDate | date}}</p>
              <button (click)="hide()" type="button" class="btn btn-danger">Hide</button>
            </div>
          </div>
    </div>
    
</div>